.mobile-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mobile-header {
    background: gray;
  color: white;
  font-weight: bold;
}
.azul{
    color: aquamarine;
}
.mobile-main {
  overflow-y: auto;
}

.mobile-footer {
  background: #f1f1f1;
  border-top: 1px solid #ddd;
}
